body {
   text-align: center;
    background-color: #576fa5;
}

#board{
    height:532px;
    width: 475px;
    margin: 0 auto ;
    display: flex;
    flex-wrap: wrap;
    background-color:bisque;
    border: 10px solid rgb(212, 103, 194);
}

.pokeball{
    height: 128px;
    width: 90px;
    margin: 2.5px;
}